<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikocam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        video#video {
            width: 640px;
            height: 480px;
        }
    </style>
</head>
<body>
    <h1 class="title">🐈 Nikocam</h1>
    <section class="has-text-centered">
    <%_ const f = videos[0]; _%>
    <video id="video" controls autoplay muted <%_ if (f) {
        %> src="<%= MOTION_URL %><%= f.video.filename %>"<%
        %> poster="<%= MOTION_URL %><%= f.image.filename %>"<%
        } %>>
    </video>
    </section>
    
    <section class="columns is-multiline">
    <% for (const f of videos) { %>
        <div class="column" style="width: 300px; min-width: 300px; max-width: 300px">
            <div class="has-text-centered">
                <a class="thumb" data-video="<%= MOTION_URL %><%= f.video.filename %>">
                    <img class="thumb" src="<%= MOTION_URL %><%= f.image.filename %>">
                </a>
            </div>
            <div class="has-text-centered"><%= f.video.dt.toLocaleString(DateTime.TIME_SIMPLE); %></div>
        </div>
    <% } %>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $(document).on("click", "a.thumb", event => {
                console.log(event);
                const $a = $(event.currentTarget);
                console.log($a);
                const video = $("#video")[0];
                //video.pause();
                $("#video").attr("poster", $a.find("img").attr("src")).attr("src", $a.attr("data-video"));
                //video.load();
                //video.play();
            });
        });
    </script>
</body>
</html>